.matches {
  max-height: 80vh;
  overflow-y: scroll;

  h2{
    text-align: center;
    margin-top: 50px;
  }

  .match-list {
    list-style: none;
    padding: 0;
  }
  .match-link {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255); /* or any other desired color */
    display: block;
    padding: 10px 0 10px;
    margin-top: 0px;
    margin-left: 24px;
    margin-bottom: 0px;
  }

  .match-container {
    display: flex;
    justify-content: center;
  }

  .match-item {
    margin: 0px;
  }

  // .matches-profile-picture{
  //   height: 70px;
  //   width: 70px;
  //   background-color: rgba(255, 255, 255, 0);
  //   border-radius: 50%;
  //   position: relative;
  //   object-fit: cover;
  //   object-position: center;
  //   top: 124px;
  //   overflow: hidden;
  //   border: 0;
  // }

  .match-list img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    top: 52px;
    margin-left: 40px;
  }
}
