<div class="custom-navbar">
  <%= link_to swiper_i, class: "nav-item" do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
  <%= link_to matches_path, class: "nav-item" do %>
    <i class="fa-regular fa-envelope"></i>
  <% end %>
  <% if @profile.present? %>
    <%= link_to profile_path(@profile), class: "nav-item" do %>
      <i class="fa-regular fa-user"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "nav-item" do %>
      <i class="fa-regular fa-user"></i>
    <% end %>
  <% end %>
</div>
