<div class="logo">
  <%= image_tag "Logo.png", size: '75x54'%>
</div>
<div class="home">
  <div class="home-centered">
    <div class="home-container">
      <h1>Find Your <span style="color: #A301FC;">Gig</span><span style="color: #7541FF;">Buddy</span> Today</h1>

      <p>Creating Connections Through Live Music</p>

    </div>

    <div class="home-sign-in-text">
      <div class="landingpage-button-container">
            <% if current_user %>
          <%= link_to "Get Started", swiper_index_path, class: "home-btn home-btn-primary home-btn-get-started d-block", id: "home-getstartedbtn" %>
        <% else %>
          <%= link_to "Get Started", new_user_registration_path, class: "home-btn home-btn-primary home-btn-get-started d-block", id: "home-getstartedbtn" %>
        <% end %>
      </div>
      <p>Already have an account? <strong><%= link_to "Sign in", new_user_session_path %></strong></p>
    </div>
  </div>
  </div>
