<div class="centered">
  <div>
  <h1>Find Your Gig Buddy Today</h1>
  <%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-get-started", id: "getstartedbtn" %>
  </div>
  <div class="button-container">
    <%= button_tag class: "btn btn-secondary btn-spotify" do %>
      <i class="fab fa-spotify"></i>
    <% end %>
    <%= button_tag class: "btn btn-secondary btn-google" do %>
      <i class="fab fa-google"></i>
    <% end %>
  </div>
  <div class="sign-in-text">
    <p>Already have an account? <strong><%= link_to "Sign in", new_user_session_path %></strong></p>
  </div>
</div>
