<div class="home">
  <div class="home-centered">
    <div>
      <h1>Find Your Gig Buddy Today</h1>
      <%= link_to "Get Started", "#", class: "home-btn home-btn-primary home-btn-get-started d-block", id: "home-getstartedbtn" %>
    </div>
    <div class="home-button-container">
      <%= button_tag class: "home-btn home-btn-secondary home-btn-spotify" do %>
        <i class="fab fa-spotify"></i>
      <% end %>
      <%= button_tag class: "home-btn home-btn-secondary home-btn-google" do %>
        <i class="fab fa-google"></i>
      <% end %>
    </div>
    <div class="home-sign-in-text">
      <p>Already have an account? <strong><%= link_to "Sign in", "#" %></strong></p>
    </div>
  </div>
</div>
