<div class="its-a-match">
  <h1>It's a match!</h1>
  <%= cl_image_tag profile.photos.first.key, heigth: "100", width: "100" %>
  <%= cl_image_tag match_profile.photos.first.key, heigth: "100", width: "100"  %>
</div>
