<div class="swiper-container matches-container">
    <div class="swiper-wrapper">
        <!-- Your cards will be here -->
        <% @profiles.each do |profile| %>
            <div class="swiper-slide matches-slide">
                <%= profile.name %>
                <%= profile.age %>
                <%= profile.location %>
                <%= profile.pronouns %>
                <!-- small profile picture and spotify top 5 artists -->
            </div>
        <% end %>
    </div>
</div>
