.custom-navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #1F1F1F;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 9999;
  font-size: 32px;
}

.custom-navbar a {
  color: white;
  text-decoration: none;
  margin: 0 32px;
}
